h1{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    line-height: 43px;
    color: #FFD723;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
h2{
  font-family: 'Russo One', sans-serif;
    font-size: 36px;
    line-height: 43px;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

body{
    background-image:url(Imagenes\ 2/calipso.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:100%;
    background-position: center;
    min-height: 100vh;
  
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:initial;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   @keyframes flash {
    0%, 50%, 100% {
    opacity: 20;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   .flash {
    -webkit-animation-name:initial;
    animation-name: flash;
   }

#searchName{
   border-radius: 20px;
   background: linear-gradient(90.6deg, #ffffff 22.14%, #B3B3B3 93.61%);
   padding: 10px;
    width: 250px;
    margin: 25px;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    text-align: center;


}
#search{
    background: linear-gradient(90.6deg, #FFFFFF 22.14%, #B3B3B3 93.61%);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 10px;
    width: 150px;
    margin: 15px;
    

}

.button{
    background: linear-gradient(90.6deg, #FFFFFF 22.14%, #B3B3B3 93.61%);
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 10px;
    width: 250px;
    margin: 25px;
    
    
}
button:hover{
    text-decoration: none;
    color: black;
    background:white;
  }
  .menu{
      display: none;
  }
  
  .menu_type{
      display: none;

  }
  #menu_attack{
      display: none;
  }
.continer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    
    
}
  .flex-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20%;


  }

.menu_name{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20%;


}

header{
    position: absolute;
    width: 100%;
    height: 71.24px;
    left: 0px;
    top: 47.23px;

    background: #F2F2F2;
    mix-blend-mode: overlay;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
}
main{
    position: center;
    width: 80%;
    height: 311.24px;
    left: 11px;
    top: 100%;
    
    background: #F2F2F2;
    mix-blend-mode: overlay;
    opacity:0.7;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:20;
    transform:rotate(-0.41deg);
}
footer{
  position: absolute;
  width: 100%;
  height: 71.24px;
  left: 0px;
  top: 47.23px;

  background: #F2F2F2;
  mix-blend-mode: overlay;
  opacity: 0.7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.04deg);

}